body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Bangers', cursive;
}

header {
    background-image: url('goats.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px; /* Espaço extra no final do cabeçalho */
    height: 670px; /* Aumenta a altura do cabeçalho */
}

.header-content {
    position: relative;  /* Define a posição relativa ao header */
    padding: 70px 0;
}

.logo {
    position: absolute;  /* Posiciona o logo absolutamente dentro do header-content */
    left: 60%;           /* Ajusta essa porcentagem para mover mais à esquerda ou à direita */
    max-width: 130px;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px; /* Padding lateral */
    margin-top: 60px;
    box-sizing: border-box;
}

.navbar .menu-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar a, #connectWallet {
    text-decoration: none;
    color: #ffffff;
    background: rgba(65, 64, 64, 0.2); /* Adiciona transparência para ver a imagem de fundo */
    font-family: 'Bangers';
    padding: 14px 20px; /* Aumenta o padding para maior tamanho dos botões */
    margin: 20px;
    border-radius: 0.5px;
    cursor: pointer;
    font-size: 30px; /* Aumenta a fonte dos botões */
    transition: background-color 0.3s;
}

.navbar a:hover, #connectWallet:hover {
    background-color:  #bb920c;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}




