body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Bangers', cursive;
}

header {
    background-image: url('goats.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px; /* Espaço extra no final do cabeçalho */
    height: 650px; /* Aumenta a altura do cabeçalho */
}

.header-content {
    padding: 150px 0px; /* Aumenta o espaçamento acima e abaixo do logo */
}

.header-content img {
    max-width: 130px; /* Ajuste o tamanho do seu logo se necessário */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px; /* Padding lateral */
    margin-top: 70px;
    box-sizing: border-box;
}

.navbar .menu-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar a, #connectWallet {
    text-decoration: none;
    color: white;
    background-color: transparent;
    font-family: 'Bangers';
    padding: 14px 20px; /* Aumenta o padding para maior tamanho dos botões */
    margin: 20px;
    border-radius: 1px;
    cursor: pointer;
    font-size: 30px; /* Aumenta a fonte dos botões */
    transition: background-color 0.3s;
}

.navbar a:hover, #connectWallet:hover {
    background-color:  #bb920c;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}




