body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Bangers', cursive;
}

header {
    background-image: url('goats.png');
   background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px; /* Espaço extra no final do cabeçalho */
    height: 670px; /* Aumenta a altura do cabeçalho */
    position: relative;
}

.header-content {
    position: relative;
    width: 100%;
    padding-top: 60px; /* Ajuste conforme necessário para posicionar o logo corretamente */
}

.logo {
    position: absolute;
    left: 25%; /* Ajuste para posicionar o logo um pouco à esquerda */
    top: 30%; /* Ajuste para posicionar o logo por cima da barra de navegação */
    max-width: 300px; /* Aumenta o tamanho do logo */
     animation: horizontalFlip 3s linear infinite; /* Define a animação para girar horizontalmente */
}

@keyframes horizontalFlip {
    0%, 100% {
        transform: scaleX(1); /* Começa e termina com o logo normal */
    }
    50% {
        transform: scaleX(-1); /* Inverte o logo horizontalmente no meio da animação */
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px; /* Padding lateral */
    margin-top: 350px; /* Aumenta a margem superior para empurrar a barra de navegação para baixo */
    box-sizing: border-box;   
}

.navbar .menu-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar a {
    text-decoration: none;
    color: #FE8029;
    font-family: 'Bangers';
    padding: 16px 24px; /* Aumenta o padding para maior tamanho dos botões */
    margin: 20px; /* Ajusta a margem para evitar que os botões fiquem muito separados */
    border-radius: 0.2px;
    font-size: 30px; /* Tamanho da fonte dos botões */
    transition: background-color 0.3s;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Adiciona um rebordo preto ao texto */

}

.navbar a:hover {
    background-color: #4CCD0F; /* Cor de fundo ao passar o mouse */
}


#connectWallet {
    font-family: 'Bangers';
    font-size: 30px;
    color: #FE8029;
    background-color: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Adiciona um rebordo preto ao texto */
    padding: 12px 18px;
    border-radius: 0.2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#connectWallet:hover {
    background-color: #4CCD0F;
}


footer {
    margin-top: auto; /* Empurra automaticamente o rodapé para a parte inferior */
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    width: 100%;
}




